fastapi
uvicorn[standard]
uvloop
httptools
groq
razorpay
bcrypt
slowapi
sqlalchemy
psycopg2-binary
pydantic
python-multipart
aiofiles
python-dotenv
httpx
websockets
beautifulsoup4
firebase-admin
# TZMICHA ENGINE
openai-whisper
torch
torchaudio
numpy<2
edge-tts
